@using System.Data
@model FNet.Settings.Models.F1Model
<style>
    #mdvreports_views_f1_index table {
        margin: 2px;
    }

        #mdvreports_views_f1_index table.header {
            font-weight: bold;
        }

    #mdvreports_views_f1_index tr {
        border: 1px solid black;
    }

    #mdvreports_views_f1_index th {
        padding: 3px;
        font-weight: bold;
    }

    #mdvreports_views_f1_index td {
        padding: 3px;
    }

    #mdvreports_views_f1_index .need-to-refresh {
        background-color: #fbb;
    }
</style>
<div id="mdvreports_views_f1_index">
    <div>
        <table class="header">
            <tr>
                <td>Всего: </td>
                <td>@Model.TotalRowsCount</td>
                <td>Надо обновить: </td>
                <td>@Model.NeedToRefreshRowsCount</td>
                <td><input type="button" value="Экспорт в Excel" /></td>
            </tr>
        </table>
    </div>
    <table>
        <colgroup>
            <col width="640" />
            <col width="120" />
            <col width="80" />
            <col width="80" />
        </colgroup>
        <tr>
            <th>Ссылка</th>
            <th>Номер</th>
            <th>Дата FILE</th>
            <th>Дата GRLS</th>
        </tr>
        @if (Model != null)
        {
            foreach (DataRow dr in Model.Data.Rows)
            {
                <tr class="@((Boolean)dr[4] ? "need-to-refresh" : "")">
                    <td>@dr[0]</td>
                    <td>@dr[1]</td>
                    <td>@dr[2]</td>
                    <td>@dr[3]</td>
                </tr>
            }
        }
    </table>
</div>
